// Базовая типографика

$font-size--root:             16px;

$font-size:                   1rem; // rem(16px)

$font-size--h1:               rem(40px);
$font-size--h2:               rem(32px);
$font-size--h3:               rem(24px);
$font-size--h4:               rem(18px);
$font-size--h5:               rem(16px);
$font-size--h6:               rem(16px);

$font-size--small:            80%;

$line-height:                 1.5;

// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           rem(30px);